@use "../color-theme" as *;
@use "../function" as *;
.footer {
  padding-block: 0 grid-8px(10);
  text-align: center;
  small {
    line-height: 2;
    color: color-mix(in srgb, var(--text-color), transparent 20%);
  }
}
