@use "sass:map";
@use "../variables" as *;
@use "../mixin" as *;
@use "../function" as *;

.main {
  // タイトル
  &__title {
    font-size: calc(map.get($font-sizes, "display") * 0.9);
    text-align: center;
    @include media-max(sm) {
      border-left: 5px solid
        color-mix(in srgb, map.get($colors, "third-color"), transparent 20%);
      padding-left: 10px;
      text-align: left;
    }
    .yoshihito {
      color: map.get($colors, "third-color");
      text-shadow: 0 0 30px map.get($colors, "third-color");
    }
  }
  // カードのコンテナ
  &__container {
    align-items: start;
    display: flex;
    flex-wrap: wrap;
    gap: grid-8px(6);
    justify-content: center;

    // カードのスタイル
    &__card {
      @include container-style();
      border: 1px solid
        color-mix(
          in srgb,
          color-mix(
            in srgb,
            map.get($colors, "black"),
            map.get($colors, "white") 50%
          ),
          transparent 50%
        );
      height: 365px;
      overflow-x: hidden;
      overflow-y: auto;
      padding: grid-8px(3) grid-8px(5);
      transition: 0.5s ease-out;
      width: 300px;

      @media (hover: none) {
        box-shadow: 10px 10px 20px
          color-mix(in srgb, map.get($colors, "black"), transparent 90%);
      }

      @media (hover: hover) {
        &:hover {
          box-shadow: 10px 10px 60px
              color-mix(
                in srgb,
                map.get($colors, "theme-color"),
                transparent 65%
              ),
            -10px -10px 60px
              color-mix(
                in srgb,
                map.get($colors, "third-color"),
                transparent 65%
              );
        }
      }

      // カードの見出し
      h2 {
        border-left: 10px solid var(--border-left-color);
        color: var(--link-color);
        margin-bottom: map.get($font-sizes, "heading");
        padding-left: grid-8px(1);
        text-shadow: 0 0 20px color-mix(in srgb, var(--link-color), white 50%);
      }
      h3 {
        border-left: 5px solid var(--border-left-color);
        line-height: 1.2;
        margin-block: 1em;
        padding-left: grid-8px(1);
      }

      // 見出しの上下の余白
      h3,
      p:has(+ h3),
      p:has(+ .project-name) {
        margin-bottom: map.get($font-sizes, "subheading");
      }

      p {
        line-height: 1.8;
      }

      // About me のスタイル
      &--about-me {
        .monospace {
          @include monospace-font();
          margin-block: 1em;
        }
        .code {
          border-radius: calc(map.get($container-styles, "border-radius") / 2);
          padding: grid-8px(2);
        }
      }

      // Project のスタイル
      &--project {
        &-name {
          text-decoration: none;
        }
      }

      // Sitemap のスタイル
      &--sitemap {
        .directory {
          list-style: none;
          li {
            &::before {
              content: "-";
              line-height: 2;
              margin-right: 1rem;
            }
          }
          li,
          li a {
            @include monospace-font();
          }
        }
      }
    }
  }
}
