@use "sass:map";
@use "../styles/variables" as *;
@use "../styles/function" as *;
@use "../styles/color-theme" as *;
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;700&display=swap");

@mixin container-style() {
  --webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: var(--container-bg-color);
  border: 1px solid var(--container-border-color);
  border-radius: map.get($container-styles, "border-radius");
}

@mixin media-max($device) {
  @if map.has-key($breakpoints, $device) {
    @media (max-width: #{map.get($breakpoints, $device)}) {
      @content;
    }
  } @else {
    @warn "無効な値: #{$device}";
  }
}

@mixin media-min($device) {
  @if map.has-key($breakpoints, $device) {
    @media (min-width: #{map.get($breakpoints, $device)}) {
      @content;
    }
  } @else {
    @warn "無効な値: #{$device}";
  }
}

@mixin pop-easing() {
  transition: all 0.5s;
  transition-timing-function: $pop-ease;
}

@mixin monospace-font() {
  font-family: "JetBrains Mono", Consolas, "Courier New", Courier,
    "Lucida Console", monospace;
}

@mixin entry-cards-layout() {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: grid-8px(5) grid-8px(3);
  justify-content: center;
}
