@use "sass:map";
@use "../styles/variables" as *;
@use "../styles/color-theme" as *;

@mixin container-style() {
  --webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: var(--container-bg-color);
  border: 1px solid var(--container-border-color);
  border-radius: map.get($container-styles, "border-radius");
}

@mixin media($device) {
  @media #{map.get($breakpoints, $device)} {
    @content;
  }
}

@mixin pop-easing() {
  transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.903, -0.637, 0.216, 1.643);
}
