@use "sass:map";

// animation
$pop-ease: cubic-bezier(0.903, -0.637, 0.216, 1.643);

// device widths
$breakpoints: (
  // sp
  xs: 480px,
  // TAB
  sm: 768px,
  md: 1024px,
  lg: 1280px,
  xl: 1440px
);

$colors: (
  "black": #050e1a,
  "white": #e9eff7,
  "theme-color": #38f,
  "accent-color": #fa3,
  "third-color": #f38,
);

$font-sizes: (
  "display": 2rem,
  "heading": 1.5rem,
  "subheading": 1.25rem,
  "body": 1rem,
  "small": 0.875rem,
);

$container-styles: (
  "border-radius": 16px,
  "box-shadow": 0 0 7px
    color-mix(in srgb, #{map.get($colors, "black")}, transparent 85%),
);
