@use "./reset.css";
@use "sass:map";
@use "./variables" as *;
@use "./color-theme" as *;
@use "./mixin" as *;
@use "./function" as *;

[data-theme="light"] {
  @include light-theme;
}

[data-theme="dark"] {
  @include dark-theme;
}

[data-theme="system"] {
  @media (prefers-color-scheme: light) {
    @include light-theme;
  }
  @media (prefers-color-scheme: dark) {
    @include dark-theme;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  color: var(--text-color);
  font-family: helvetica, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  transition: color 0.5s, background-color 0.5s;
}

body {
  overflow-x: hidden;
  overflow-y: visible;
  width: 100%;
}

html {
  background-color: var(--bg-color);
  display: grid;
  scrollbar-color: color-mix(in srgb, var(--text-color), transparent 50%)
    transparent;

  // レスポンシブ対応
  @include media-max(lg) {
    grid-template-columns: 1fr 4fr 1fr;
  }
  @include media-max(md) {
    grid-template-columns: 1fr 6fr 1fr;
  }
  @include media-max(sm) {
    grid-template-columns: 1.5fr 5fr 1.5fr;
  }
  @include media-max(xs) {
    grid-template-columns: 1fr 8fr 1fr;
  }
  @include media-min(xl) {
    grid-template-columns: 1fr 10fr 1fr;
  }
  @include media-min(lg) {
    grid-template-columns: 2fr 7fr 2fr;
  }
}

body {
  grid-column: 2;
}

.layout {
  width: 100%;
}

h1 {
  font-size: map.get($font-sizes, "display");
  line-height: 1.5;
}
h2 {
  font-size: map.get($font-sizes, "heading");
}
h3 {
  font-size: map.get($font-sizes, "subheading");
}
p,
a,
li,
pre code span {
  font-size: map.get($font-sizes, "body");
}
small {
  font-size: map.get($font-sizes, "small");
}
// リンクの装飾
a {
  text-decoration: underline;
}
// コードの表示
pre code span {
  @include monospace-font();
  line-height: 1.5;
}

hr {
  background-color: color-mix(in srgb, var(--text-color), transparent 70%);
  border: none;
  height: 1px;
  margin-block: grid-8px(8);
}

header {
  z-index: 2;
}

.main {
  min-height: 100px;
  padding-block: grid-8px(3);
  z-index: 1;
}

footer {
  z-index: 2;
}
