---
import Layout from "../../layouts/Wrapper.astro";
const allEntries = Object.values(
  import.meta.glob("../entry/*.md", { eager: true })
);
const tags = [
  ...new Set(allEntries.map((entry: any) => entry.frontmatter.tags).flat()),
];
const pageTitle: string = "タグインデックス";
---

<Layout pageTitle={pageTitle}>
  <h1 class="main__title">/Tags_Page</h1>
  <div class="main__tags">
    {
      tags.map((tag: string) => (
        <a class="main__tags__item" href={`/tags/${tag}`}>
          {tag}
        </a>
      ))
    }
  </div>
</Layout>

<style lang="scss">
  @use "../../styles/mixin" as *;
  @use "../../styles/function" as *;

  .main {
    &__title {
      @include monospace-font;
      text-align: center;
    }
    &__tags {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      &__item {
        @include container-style;
        margin: grid-8px(5) grid-8px(2);
        padding: 0.5em 1em;
        text-decoration: none;
      }
    }
  }
</style>
