---
import "../../styles/pages/tags/index.scss";
import { getCollection } from "astro:content";
import Layout from "../../layouts/Wrapper.astro";

const entries = await getCollection("blog");
const tags = [
  ...new Set(entries.flatMap((entry) => entry.data.tags || []).filter(Boolean)),
];
const pageTitle: string = "タグインデックス";
---

<Layout pageTitle={pageTitle}>
  <h1 class="main__title">/Tags_Page</h1>
  <div class="main__tags">
    {
      tags.map((tag: string) => (
        <a class="main__tags__item" href={`/tags/${tag}`}>
          {tag}
        </a>
      ))
    }
  </div>
</Layout>
