---
import "../../styles/pages/blog/slug.scss";
import Layout from "../../layouts/Wrapper.astro";
import { getCollection } from "astro:content";

// 個々の記事ページを生成
export async function getStaticPaths() {
  const entries = await getCollection("blog");
  return entries.map((entry) => ({
    params: { slug: entry.slug }, // パラメータのスラッグを返す
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout pageTitle={`${entry.data.title} - Yoshihito`}>
  <p class="main__entry-pub-date">
    pub date : {entry.data.pubDate.toString().slice(0, 10)}
  </p>
  <h1 class="main__entry-title">{entry.data.title}</h1>
  <hr />
  <div class="entry-contents">
    <Content />
  </div>
  <div class="tags">
    {
      entry.data.tags?.map((tag: string) => (
        <p class="tags__tag">
          <a href={`/tags/${tag}`}>{tag}</a>
        </p>
      ))
    }
  </div>
</Layout>
