---
import "../styles/global.scss";
import Layout from "../layouts/Wrapper.astro";

const pageTitle: string = "Not Found - Yoshihito";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <h1>404 - NOT FOUND</h1>
    <button class="container__button">
      <a href="/">BACK TO TOP</a>
    </button>
  </div>
</Layout>

<style lang="scss">
  @use "sass:map";
  @use "../styles/variables" as *;
  @use "../styles/mixin" as *;
  @use "../styles/function" as *;

  .container {
    text-align: center;
    h1,
    &__button a {
      @include monospace-font();
      font-weight: 100;
    }
    &__button {
      @include container-style();
      margin-block: grid-8px(5);
      padding: 0.5em 5em;
      a {
        font-size: map.get($font-sizes, "heading");
        text-decoration: none;
      }
    }
  }
</style>
