---
import "../styles/pages/404.scss";
import Layout from "../layouts/Wrapper.astro";
const pageTitle: string = "Not Found - Yoshihito";
---

<Layout pageTitle={pageTitle}>
  <div class="container">
    <h1>404 - NOT FOUND</h1>
    <button class="container__button">
      <a href="/" class="container__button__text-wrap">
        <p class="container__button__text">BACK TO TOP</p>
      </a>
    </button>
  </div>
</Layout>
