---
import "../styles/global.scss";
import Layout from "../layouts/Wrapper.astro";

const pageTitle: string = "Not Found - Yoshihito";
---

<Layout pageTitle={pageTitle}>
  <h1>404 Page Not Found.</h1>
</Layout>
