@use "sass:map";
@use "../../variables" as *;
@use "../../color-theme" as *;
@use "../../mixin" as *;
@use "../../function" as *;

.main {
  @include media-min(sm) {
    padding-inline: 15%;
  }
  @include media-max(sm) {
    padding-inline: 2.5%;
  }
  &__entry-pub-date {
    font-size: calc(map.get($font-sizes, "body") * 1.1);
    color: color-mix(in srgb, var(--text-color), transparent 20%);
  }
  &__entry-title {
    margin-block: 1em;
    @include media-max(sm) {
      padding-inline: grid-8px(1);
    }
  }
}

.entry-contents {
  h2,
  h3,
  h4,
  p {
    margin-block: 1em;
  }

  h2 {
    margin-block: 1em;
    &::before {
      content: "# ";
      color: map.get($colors, "theme-color");
    }
    @media (hover: hover) {
      &:hover {
        &::before {
          color: map.get($colors, "third-color");
        }
      }
    }
  }
  p {
    line-height: 1.8;
  }
  ul,
  ol {
    padding-left: 1.5em;
  }
  ul {
    list-style: disc;
  }
  pre {
    border-radius: calc(map.get($container-styles, "border-radius") / 2);
    display: block;
    margin-block: grid-8px(5);
    margin-inline: auto;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding: grid-8px(2);
    white-space: pre;
    word-wrap: normal;
  }
}

// タグのスタイル
.tags {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-block: grid-8px(10);
  &__tag {
    @include container-style;
    margin: 1em;
    padding: 0.5em 1em;
    a {
      text-decoration: none;
    }
  }
}
