---
import "../styles/components/header.scss";
import Navigation from "./header/Navigation.astro";
---

<header class="header">
  <div class="header__logo">
    <img src="/logo/icon.svg" alt="icon" class="header__logo--icon" />
    <img src="/logo/title.svg" alt="title" class="header__logo--title" />
  </div>
  <Navigation />
</header>
