---

---

<input type="checkbox" id="menuToggle" hidden />
<label for="menuToggle" class="hamburger-menu">
  <div class="hamburger-menu__bar"></div>
</label>

<nav class="nav">
  <ul class="nav__list">
    <li class="nav__list__item"><a href="/">Top</a></li>
    <li class="nav__list__item"><a href="/blog">Blog</a></li>
    <li class="nav__list__item"><a href="/tags">Tags</a></li>
    <li
      id="copy-the-url-button"
      class="nav__list__item nav__list__item--copy-the-url-button"
    >
      Copy the URL
    </li>
    <li class="nav__list__item">
      <label for="themeMenuToggle" class="nav__list__item--theme-menu-button"
        >color_theme</label
      >
    </li>
  </ul>
  <input type="checkbox" name="theme-menuToggle" id="themeMenuToggle" hidden />
  <ul class="nav__theme-menu" id="theme-menu">
    <li class="nav__theme-menu__item" data-theme-name="light">light</li>
    <li class="nav__theme-menu__item" data-theme-name="dark">dark</li>
    <li class="nav__theme-menu__item" data-theme-name="system">system</li>
  </ul>
</nav>

<style lang="scss">
  @use "sass:map";
  @use "../styles/variables" as *;
  @use "../styles/color-theme" as *;
  @use "../styles/function" as *;
  @use "../styles/mixin" as *;

  // ハンバーガーメニュー
  .hamburger-menu {
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    &__bar {
      @include pop-easing;
      background-color: var(--text-color);
      height: 2px;
      position: relative;
      width: 35px;
      &::before,
      &::after {
        @include pop-easing;
        background-color: var(--text-color);
        content: "";
        height: 2px;
        left: 0;
        position: absolute;
        width: 35px;
      }
      &::before {
        top: -10px;
      }
      &::after {
        top: 10px;
      }
    }
    @include media-min(md) {
      display: none;
    }
  }

  #menuToggle:checked ~ .hamburger-menu {
    .hamburger-menu__bar {
      // 中央のバーを透明にする
      background-color: transparent;

      // 上のバーを45度回転
      &::before {
        rotate: 45deg;
        top: 0;
      }

      // 下のバーを-45度回転
      &::after {
        rotate: -45deg;
        top: 0;
      }
    }
  }

  .nav {
    // SP
    @include media-max(md) {
      @include container-style();
      background-color: var(--header__nav-bg-color);
      position: absolute;
      right: 0;
      text-align: center;
      top: calc(100% + grid-8px(1.5));
      width: 130px;
    }
    &__list {
      list-style: none;

      // レスポンシブ対応
      @include media-max(md) {
        display: block;
      }
      @include media-min(md) {
        display: flex;
      }

      // リストアイテム
      &__item {
        &:active {
          animation: 0.2s clicked-list-item ease;
        }

        // レスポンシブ対応
        @include media-max(md) {
          padding-block: grid-8px(2);
          &:not(:last-child) {
            border-bottom: 1px solid var(--container-border-color);
          }
        }
        @include media-min(md) {
          padding-inline: grid-8px(1.5);
          line-height: 1.5;
          &:not(:last-child) {
            border-right: 2px solid var(--container-border-color);
          }
        }

        // カラーテーマを変更するボタン
        &--theme-menu-button {
          color: var(--link-color);
          cursor: pointer;
        }
        a {
          text-decoration: none;
        }
        &--copy-the-url-button {
          cursor: pointer;
        }
      }
    }

    // カラーテーマ変更UI
    &__theme-menu {
      @include container-style();
      @include pop-easing;
      background-color: var(--header__nav-bg-color);
      list-style: none;
      opacity: 0.5;
      position: absolute;
      scale: 1 0;
      text-align: center;
      transform-origin: top;
      width: 130px;

      // レスポンシブ対応
      @include media-max(md) {
        top: calc(100% + grid-8px(1.5));
      }
      @include media-min(md) {
        top: grid-8px(12);
        right: 0;
      }

      &__item {
        cursor: pointer;
        padding-block: grid-8px(2);
        &:not(:last-child) {
          border-bottom: 1px solid var(--container-border-color);
        }
      }
      .selected {
        color: var(--link-color);
      }
    }
    #themeMenuToggle:checked ~ &__theme-menu {
      opacity: 1;
      scale: 1;
    }
  }

  // ナビゲーション
  @include media-max(md) {
    .nav {
      @include pop-easing;
      opacity: 0.5;
      scale: 1 0;
      transform-origin: top;
    }
    #menuToggle:checked ~ .nav {
      scale: 1;
      opacity: 1;
    }
  }

  // アニメーション
  @keyframes clicked-list-item {
    0% {
      color: var(--text-color);
    }
    50% {
      color: var(--link-color);
    }
    100% {
      color: var(--text-color);
    }
  }
</style>

<script>
  // ナビゲーションのUIを定義
  const menuToggle = document.getElementById("menuToggle") as HTMLInputElement;
  const themeMenuToggle = document.getElementById(
    "themeMenuToggle"
  ) as HTMLInputElement;
  const themeMenuList =
    document.querySelectorAll<HTMLElement>("#theme-menu li");
  let colorThemeData = localStorage.getItem("colorThemeData");
  const rootElem: HTMLElement = document.documentElement;

  // URLコピーのボタン
  const copyTheURLButton = document.getElementById(
    "copy-the-url-button"
  ) as HTMLElement;

  // 指定されたカラーテーマに変更する関数
  function changeColorTheme(element: HTMLElement) {
    for (const element of themeMenuList) {
      element.classList.remove("selected");
    }
    const themeName = element.dataset.themeName ?? "system";

    element.classList.add("selected");

    switch (themeName) {
      case "light":
        rootElem.dataset.theme = "light";
        break;
      case "dark":
        rootElem.dataset.theme = "dark";
        break;
      default:
        rootElem.dataset.theme = "system";
    }
  }

  // ローカルストレージから初期値を読み込む
  themeMenuList.forEach((item: HTMLElement) => {
    const isSystemDefault =
      !colorThemeData && item.dataset.themeName === "system";
    const isSavedTheme = item.dataset.themeName === colorThemeData;

    if (isSystemDefault || isSavedTheme) {
      changeColorTheme(item);
    }
  });

  // メニューのアイテムをクリックしたときカラーテーマを条件に当てはめる
  themeMenuList.forEach((item: HTMLElement) => {
    item.addEventListener("click", (event: Event) => {
      const li = event.currentTarget as HTMLElement;
      localStorage.setItem("colorThemeData", li.dataset.themeName ?? "system");
      // 選択肢の色をリセット
      changeColorTheme(li);
      // メニューを閉じる
      if (themeMenuToggle) {
        themeMenuToggle.checked = false;
      }
      if (menuToggle) {
        menuToggle.checked = false;
      }
    });
  });

  // ハンバーガーメニューが開かれていないときの処理
  menuToggle?.addEventListener("change", (event: Event) => {
    if (menuToggle.checked == false) {
      if (themeMenuToggle) {
        themeMenuToggle.checked = false;
      }
    }
  });

  // URLをコピーする
  copyTheURLButton?.addEventListener("click", () => {
    navigator.clipboard
      .writeText(location.href)
      .then(() => {
        copyTheURLButton.textContent = "SUCCESSFUL!";
        setTimeout(function () {
          copyTheURLButton.textContent = "Copy the URL";
        }, 1000);
      })
      .catch((err: unknown) => {
        copyTheURLButton.textContent = "FAILED!";
        setTimeout(function () {
          copyTheURLButton.textContent = "Copy the URL";
        }, 1000);
      });
  });
</script>
