---
const snsLinkList = [
  {
    name: "GitHub",
    url: "https://github.com/yoshihito2025",
    image: "github.svg",
  },
  {
    name: "X",
    url: "https://x.com/yoshihito_2025",
    image: "x.svg",
  },
];
---

<ul class="social-link">
  {
    snsLinkList.map((item) => (
      <li class="social-link__item">
        <a href={item.url} target="_blank">
          <img src={`/sns-icon/${item.image}`} alt={`${item.name} logo`} />
        </a>
      </li>
    ))
  }
</ul>

<style lang="scss">
  @use "sass:map";
  @use "../styles/color-theme" as *;
  @use "../styles/function" as *;
  @use "../styles/mixin" as *;
  @use "../styles/variables" as *;

  .social-link {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    list-style: none;
    margin-block: grid-8px(7);
    &__item a {
      @include container-style();
      @include pop-easing();
      background-color: color-mix(
        in srgb,
        map.get($colors, "white"),
        map.get($colors, "black") 5%
      );
      display: grid;
      height: 50px;
      opacity: 0.5;
      place-items: center;
      width: 50px;
      &:hover {
        opacity: 1;
        scale: 1.2;
        box-shadow: map.get($container-styles, "box-shadow");
      }
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
</style>
