@use "sass:map";
@use "../../variables" as *;
@use "../../color-theme" as *;
@use "../../mixin" as *;
@use "../../function" as *;

.item {
  // ブロックの中身
  &__card {
    @include container-style();
    align-items: center;
    box-shadow: none;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    height: 170px;
    justify-content: center;
    overflow: hidden;
    padding: grid-8px(3) grid-8px(5);
    scale: 1;
    text-decoration: none;
    transition: 0.3s ease-out;
    width: 302px;

    // レスポンシブ対応
    @include media-max(sm) {
      padding: grid-8px(3);
      @media (hover: none) {
        transition: 0.1s;
        &:active {
          box-shadow: 10px 10px 20px 3px
              color-mix(
                in srgb,
                map.get($colors, "third-color") inset,
                transparent 50%
              ),
            -10px -10px 20px 3px
              color-mix(
                in srgb,
                map.get($colors, "theme-color") inset,
                transparent 50%
              ),
            0 0 20px color-mix(in srgb, var(--text-color), transparent 60%);
        }
      }
    }

    @media (hover: hover) {
      &:hover {
        &::after {
          box-shadow: 10px 10px 20px 3px
              color-mix(
                in srgb,
                map.get($colors, "third-color"),
                transparent 50%
              )
              inset,
            -10px -10px 20px 3px
              color-mix(
                in srgb,
                map.get($colors, "theme-color"),
                transparent 50%
              )
              inset,
            0 0 20px color-mix(in srgb, var(--text-color), transparent 60%);
          scale: 1.05;
        }
      }
    }
  }
  &__title {
    font-size: map.get($font-sizes, "heading");
    font-weight: bold;
    line-height: 2;

    // レスポンシブ対応
    @include media-max(sm) {
      font-size: map.get($font-sizes, "subheading");
      margin-block: 0.5em;
    }
  }
  &__pub-date,
  &__description {
    color: color-mix(in srgb, var(--text-color), transparent 10%);
  }
}

// アニメーション
@keyframes rotate-border {
  0% {
    rotate: 0;
  }
  100% {
    rotate: 360deg;
  }
}
